body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
}

.baner {
    background:  url("./image/pngtree-leaves-frame-watercolor-element-gold-png-image_3974216-removebg-preview.png") no-repeat  center;
  

    z-index: -1;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.titulo {
    display: flex;
    justify-content: center;
    /* color: #00ff7f; */
    margin-top: 95px;
    color: rgba(1, 2, 5, 0.993);
}

.nomes {
    display: flex;
    justify-content: center;
    color: rgb(218, 165, 32);
    margin-top: 0;
    margin-bottom: 120px;
}

.texto {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(1, 2, 5, 0.993);
}

.data {
    display: flex;
    justify-content: center;
    color: rgb(234, 151, 6);
}

.local {
    display: flex;
    justify-content: center;
    color: rgb(234, 151, 6);
    margin-bottom:40px ;
}

a {
    display: inline-block;
    text-transform: uppercase;
    color: rgba(1, 2, 5, 0.993);
}

button {
    display: flex;
    background-color: rgb(11, 192, 101);
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.5s all ease-in-out;
    margin-left: 137px;
}

.clique-ver-lista {
    display: flex;
    justify-content: center;
    color: rgba(1, 2, 5, 0.993);;
}


.fundo-lista {
   background-image: linear-gradient(to bottom right, rgb(0, 255, 162), rgb(0, 255, 76));
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* color: #ffd700; */
    margin-bottom: 50px ;
}

.lista {
    display: flex;
    justify-content: center;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 200;
    font-size: 34px;
    line-height: 79px;

    color: rgba(1, 2, 5, 0.993);
    border-bottom: 0.6px solid rgba(1, 2, 5, 0.993);;
   
}

.conteudo-principal .produtos {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
    line-height: 79px;

    color: rgba(1, 2, 5, 0.993);
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 79px;

    color: #FFF2E7;
    border-top: 0.6px solid rgba(1, 2, 5, 0.993);
    
}

.rodape .pix {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: rgba(1, 2, 5, 0.993);
}

.qrcode {
    width: 150px;
    margin-bottom: 35px;
    border: 0.6px solid rgba(1, 2, 5, 0.993) ;
}

